.nav-border{
    border-bottom: 2px solid;
    border-image: linear-gradient(-45deg,#00F260,#0575E6);
    border-image-slice: 1;
 }

 .div-image{
    background-image: url("luke-chesser-pJadQetzTkI-unsplash.jpg");
 }

html{
   scroll-behavior: smooth;
}
